<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>Usage example of the ngx-state-store module</h3>
      The complete module documentation is available at <a
      href="https://it-and-services.github.io/state-store/"
      target="_blank">https://it-and-services.github.io/state-store/</a>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>src/app/components/counter-button.component/counter-button.component.ts</li>
        <li>src/app/components/counter.component/counter.component.ts</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-counter-button></app-counter-button>
    </div>
    <div class="col-6">
      <app-counter></app-counter>
    </div>
  </div>
  <div class="row"></div>
  <div class="row"></div>
  <div class="row">
    <div class="col-12">
      <ul>
        <li>src/app/components/inventories-button.component/inventories-button.component.ts</li>
        <li>src/app/components/inventories.component/inventories.component.ts</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <app-inventories-button></app-inventories-button>
    </div>
    <div class="col-6">
      <app-inventories></app-inventories>
    </div>
  </div>
</div>
