<button (click)="loadInventory()" class="btn-primary">Load Inventory</button>
<p>Last download at: {{lastDownloadAt}}</p>
@if (changes.addedEntries.length) {
  <p>
    {{changes.addedEntries.length}} new {{changes.addedEntries.length > 1 ? 'entries' : 'entry'}}:
    {{inventoriesToString(changes.addedEntries)}}</p>
}
@if(changes.removedEntries.length) {
  <p>
    {{changes.removedEntries.length}} {{changes.removedEntries.length > 1 ? 'entries' : 'entry'}} removed:
    {{inventoriesToString(changes.removedEntries)}}</p>
}

